
.about_container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;  
    font-size: 13px;
    
  }
  
  .about_data{
    width: 60%;
    margin: 2rem auto;
    border-radius: 10px;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    /* background-color: #424242; */
  }
  
  .about_data1{
    width: 100%;
    /* margin: 3rem auto; */
    border-radius: 10px;
    /* padding: 2rem 4rem; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px; */
  }
  
  .profile_img{
    width: 40%;
    /* height: 250px; */
  }
  
  
  .some_personal_info{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .edit_profile{
    width: 10%;
  
  }
  
  .some_personal_info p span, .some_personal_info h5, .some_personal_info h6{
    font-weight: bold;
  }
  
  .some_personal_info h6{
    color: rgba(81, 149, 238, 0.931);
  }
  
  
  .tap_div{
    margin: auto 0 1px 0;
    /* background-color: transparent; */
    align-self: center;
  }
  
  .bar{
    /* background-color: #424242 !important; */
    box-shadow: none !important;
    color: black !important;
    background-color: transparent !important;
  }
  
  .tab{
    font-weight: bolder !important ;
    border-bottom: 2px solid rgba(216, 214, 214, 0.856) !important;
  }
  
  .about_data2{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
  }
  
  .info1{
    width: 20%;
    display: flex;
    flex-direction: column;
    line-height: 15px;
  }
  
  .info1 a{
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  
  .info2{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .under_info{
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin-top: 0.5rem;
  }
  
  .under_info label{
    width: 60%;
    font-weight: bold;
  }
  
  .under_info p{
    width: 40%;
    color: #2874f0 !important;
    font-weight: bold;
  }

  .for_img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    align-items: center;
  }
  